

.footer {

    background: $frameColor;

    &__container {
        padding: 40px 15px 40px 15px;
        position: relative;
    }
    &__block {

        &_right {
            padding: 0 35% 0 0;
        }
    }
    &__social{
        .btn{
            padding: 1rem;
        }
        .btn-icon{
            width: 3rem;
            height: 3rem;
        }
    }
    &__buttons{
        .btn{
            width: 230px;
        }
        .btn-icon{
            width: 1.8rem;
            height: 1.8rem;
        }
    }
    &__block{
        z-index: 1;
        position: relative;
    }
    &__row {

        display: flex;
        flex-direction: row;

        &_button {
            gap: 15px;
        }
        &_parent {
            gap: 80px;
            justify-content: space-between;
            margin-top: 40px;
        }
    }
    &__column {

        display: flex;
        flex-direction: column;

        &_parent {
            justify-content: space-between;
        }

        &_up {
            gap: 20px;
        }
        &_right {
            gap: 10px;
        }
        &_down {
            margin-top: 70px;
            gap: 15px;
        }
    }

    &__svg {
        color: $frameColor;
        &_background{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            z-index: 0;
        }
    }

}
@media(max-width: 850px) {
    .footer__row_parent{
        flex-direction: column;
        margin-top: 20px;
        gap: 40px;
    }
    .footer__column_down{
        margin-top: 20px;
    }
    .footer__buttons{
        flex-direction: column;
    }
    .footer__block_right{
        padding: 0;
    }
}
@media(max-width: 640px) {
    .footer__title {
        font-size: 3rem;
    }
}
