.header {
    z-index: 1011;
    color: $textColorLight;
    border-bottom: 1px solid $borderColor;

    &__bg {
        background: linear-gradient(90.24deg, #DBBB85 0%, #B8914D 49.4%, #C9A464 100%);
    }

    &__container {
        max-width: 1700px;
    }

    &__top {
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-wrapper {
        flex: 0 0 30%;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__logo {
    }

    &__desr {
        font-size: 1.3em;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__btns-wrapper {
        display: flex;
        gap: 15px;

        svg {
            color: $baseColor;
        }
    }

    &__btn {
        font-size: 1.5rem;
    }

    &__social-btn {
        padding: 10px;
    }

    &__social-icon {
        
    }

    &__map-btn {}

    &__map-btn-icon {}

    &__map-btn-text {}


    &__contacts-wrapper {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__contacts-phone {
        color: $textColorLight;
    }

    &__contacts-town {
        color: $textColorLight;
    }

    &__menu-container {
        max-width: 1700px;
        padding: 20px 0px;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
    }

    &__menu-link {
        color: $textColorDark;
    }
}

.burger{
    display: none;

    &__button {
        position: relative;
        width: 40px;
        height: 40px;
        background: $bodyColor;
        border-radius: 50%;
        padding: 10px;
        border: 0;
        
        &_active {
            & .burger {
                &__line {
                    &:nth-child(1) {
                        top: calc(50%);
                        transform: translate(-50%, -50%) rotate(-135deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        top: calc(50%);
                        transform: translate(-50%, -50%) rotate(135deg);
                    }
                }
            }
        }
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 3px;
        width: 20px;
        border-radius: 10px;
        background: $baseColor;
        transition: .3s;
        &:nth-child(1) {
            top: calc(50% - 6px);
        }
        &:nth-child(3) {
            top: calc(50% + 6px);
        }
    }
}

.burger-menu {
    &__items {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        padding: 100px 20px 20px;
        margin: 0;
        background: $bodyColor;
        margin-bottom: auto;
    }

    &__item {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        border-bottom: 1px solid $borderColor;
        list-style-type: none;

        &_text {
            text-align: center;
        }
    }

    &__btn {
        width: 100%;
    }

    &__link {
        color: $textColorDark;
    }

    &__text {
        color: $textColorDark;
        font-size: 1.5rem;
    }

    &__social-btns {
        
        justify-content: space-between;
    }

    .header__social-btn {
        flex: 0 0 45%;
    }
}

@include media($tablet){
    .burger {
        display: block;
    }

    .header {
        &__top {
            padding: 20px 0px;
            gap: 20px;
        }
    
        &__logo-wrapper {
            flex: unset;
        }
    
        &__desr {
            display: none;
        }
    
        &__btns-wrapper {
            display: none;
        }

        &__contacts-wrapper {
            align-items: center;
        }

        &__menu-container {
            display: none;
        }
    }
}

@include media($mobile){
    
}