$laptop: 1440;
$tablet: 1200;
$mobile: 640;

$baseColor: #B8914D;
$bodyColor: #FFFFFF;
$frameColor: #474A51;
$borderColor: #FFFFFF;

$textColor: #474A51;
$textColorLight: #FFFFFF;

$titleColor: #474A51;

$linkColor: #237FCF;

$btnColor: #000000;
$btnBgColor: #FFFFFF;

$btnHoverColor: #282828;
$btnHoverBgColor: #DCDCDC;