$laptop: 1440;
$tablet: 1200;
$mobile: 640;

$baseColor: #B8914D;
$bodyColor: #FFFFFF;
$frameColor: #474A51;
$cardColor: #F4F4FC;

$borderColor: #B8914D;
$borderColorLight: #FFFFFF;

$textColor: #474A51;
$textColorLight: #FFFFFF;
$textColorDark: #000000;

$titleColor: #474A51;

$linkColor: #237FCF;

$btnColor: #000000;
$btnBgColor: #FFFFFF;

$btnHoverColor: #282828;
$btnHoverBgColor: #DCDCDC;

$sliderBtnColor: #B8914D;
$lightboxBtnColor: #B8914D;

$burgerOverlayBg: #000000AA;
$backSvgcColor: #4D5057;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);